<section class="hero">
    <picture>
        <source srcset="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" media="(min-width: 1025px)">
        <source srcset="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" media="(min-width: 380px)">
        <img src="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" alt="Hero">
    </picture>
    <span class="hero-content">
        <h2>Centro de Rehabilitación Contra el Alcoholismo</h2>
        <h2>Fe y esperanza</h2>
        <p>"La rehabilitación no es solo sobre recuperación, es sobre redescubrir tu fuerza y tu espíritu."</p>
    </span>
</section>

<div class="init">
    <h2 class="invitacion">Te invito a rehabilitarte con nuestra ayuda y así superar juntos las barreras del alcoholismo</h2>
    <h3>Duración del Tratamiento: 4 meses</h3>
    <p>
        En la Fundación Osovi, creemos firmemente que una rehabilitación efectiva requiere un enfoque integral que respete y valore la dignidad de cada persona. Entendemos que cada individuo es único, con sus propias experiencias, desafíos y necesidades. Por ello, nuestro enfoque se centra en proporcionar un apoyo holístico que abarca no solo el tratamiento físico y médico, sino también el bienestar emocional, psicológico y espiritual. Estamos dedicados a ofrecer un entorno de apoyo y compasión, guiado por nuestros valores cristianos, para ayudar a cada individuo a alcanzar una recuperación plena y significativa. Esto significa que nos comprometemos a tratar a cada persona con respeto, a escuchar sus necesidades y a brindarles las herramientas necesarias para su bienestar a largo plazo. A través de nuestro enfoque integral, buscamos no solo sanar el cuerpo, sino también fortalecer el espíritu y el corazón, facilitando así un camino hacia una vida más saludable y satisfactoria.
    </p>
</div>

<ul class="acordeon">
<h2 class="head">Ofrecemos:</h2>
    <ul class="acordeon">
            <li>
                <input type="radio" name="acordeon" id="uno">
                <label for="uno">Evaluacion medica</label>
                <div class="contenido"> <p>En la Fundación Osovi, ofrecemos una atención médica integral y compasiva, diseñada para atender las necesidades de las personas en situación de vulnerabilidad. Nuestro objetivo es proporcionar acceso a servicios médicos de alta calidad a aquellos que carecen de los recursos necesarios para recibir el cuidado que merecen.</p>
                    <img src="https://www.fastmed.com/wp-content/uploads/2021/07/doctor_with_clipboard-857x571-1.jpg" alt="med"></div>
                </li>

                <li>
                    <input type="radio" name="acordeon" id="dos">
                    <label for="dos">Terapia Ocupacional</label>
                    <div class="contenido"> <p> Ofrecemos servicios de terapia ocupacional diseñados para mejorar la calidad de vida de las personas en situación de vulnerabilidad, ayudándoles a desarrollar, recuperar y mantener las habilidades necesarias para llevar una vida plena y autónoma.</p>
                        <img src="https://www.georgefox.edu/occupational-therapy/articles/_assets-ot-vs-ota/images/banner-2302_otimg_0766.webp" alt="oc">
                    </div>
                    </li>
                    <li>
                        <input type="radio" name="acordeon" id="tres">
                        <label for="tres">Terapia Individual</label>
                        <div class="contenido"> <p> Ofrecemos servicios de terapia individual dedicados a proporcionar apoyo emocional y psicológico a personas en situación de vulnerabilidad. Nuestro objetivo es ayudar a los pacientes a superar desafíos personales, mejorar su bienestar emocional y alcanzar una vida equilibrada y satisfactoria.</p>
                            <img src="https://boldoaktherapy.com/wp-content/uploads/2022/02/glpg-great-lakes-psychology-group-counseling-therapy-therapist-benefits-prepare.png" alt="ind">
                        </div>
                        </li>
                        <li>
                            <input type="radio" name="acordeon" id="cuatro">
                            <label for="cuatro">Consejeria Espiritual</label>
                            <div class="contenido"> <p>Nuestro enfoque en la consejería espiritual se basa en los valores cristianos de amor, compasión y servicio. Creemos que la fe es una fuente poderosa de sanación y resiliencia, y estamos dedicados a acompañar a nuestros pacientes en su viaje espiritual, ofreciéndoles el apoyo y la guía necesarios para enfrentar los desafíos de la vida con esperanza y confianza.
                                <br>
                                <br>
                                En la Fundación Osovi, estamos comprometidos a ser una luz en la vida de aquellos que servimos, ayudándoles a encontrar consuelo y fortaleza en su fe, y promoviendo un sentido de comunidad y pertenencia a través del amor cristiano.
                                
                                </p>
                                <img src="https://www.bioethics.org.uk/media/lldlw1uk/screenshot-2022-03-22-at-101653.png?width=480&height=384&quality=30&rnd=132924178538700000" alt="spirit">
                            </div>
                            </li>
                            
                            <li>
                                <input type="radio" name="acordeon" id="cinco">
                                <label for="cinco">Terapia Grupal</label>
                                <div class="contenido"> <p>Ofrecemos servicios de terapia grupal que están diseñados para proporcionar apoyo emocional y psicológico a través de la interacción y el compartir en grupo. Nuestra terapia grupal promueve el crecimiento personal y comunitario, facilitando un entorno de apoyo y empatía entre los participantes.</p>
                                    <img src="https://theretreatclinics.org.uk/wp-content/uploads/2022/08/Adults-Therapy-Styles-Group-Therapy-1-2000x1125.jpg" alt="group">
                                </div>
                                </li>
                                <li>
                                    <input type="radio" name="acordeon" id="seis">
                                    <label for="seis">Apoyo A.A</label>
                                    <div class="contenido"> <p>Ofrecemos grupos de Alcohólicos Anónimos (A.A.) que brindan apoyo y recuperación para personas que enfrentan desafíos relacionados con el alcoholismo. Nuestro enfoque está en proporcionar un entorno seguro y comprensivo, basado en la experiencia compartida y el apoyo mutuo, para ayudar a los individuos a alcanzar y mantener la sobriedad.</p>
                                        <img src="https://www.ashleytreatment.org/wp-content/uploads/2022/06/what-is-aa.jpg" alt="AAAA">
                                    </div>
                                    
                                    </li>
        </ul>
</ul>
