<div class="contenedor-evento">
    <h2 class="titulo-calendario">Calendario de Eventos</h2>

    <!-- Año 2024 -->
    <h3 class="year">2024</h3>

    <!-- Evento 1 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">15</div>
                <div class="mes">Agosto</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Bingo Solidario</h3>
            <div class="descripcion">
                ¡Únete a nosotros en una noche llena de diversión, premios increíbles y deliciosos bocadillos! 
                No te pierdas esta oportunidad de apoyar a las Obras Sociales Vicentinas y contribuir a una causa noble.
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 10:00 am
            </div>
        </div>
    </div>

        <!-- Evento 2 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">20</div>
                <div class="mes">Julio</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Dia Mundial del Refugiado</h3>
            <div class="descripcion">
                La mayoría de los refugiados viven una vida fuera de lo corriente:
                 arrancados de sus casas por el miedo, los conflictos o las persecuciones, han tenido que abandonar empleos, posesiones, sueños, incluso familias, en su lucha por sobrevivir.
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 1:30pm 
            </div>
        </div>
    </div>

    <!-- Evento 3 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">27</div>
                <div class="mes">Abril</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Torneo Nacional de Golf 2024</h3>
            <div class="descripcion">
                Únete a nosotros el sábado 27 de abril en el Club Campestre de La Lima para un emocionante 
                torneo de golf nacional a beneficio de los programas de la Fundación OSOVI. ¡No te lo pierdas!
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 8:00am 
            </div>
        </div>
    </div>

    <!-- Año 2023 -->
    <h3 class="year">2023</h3>

    <!-- Evento 4 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">8</div>
                <div class="mes">Noviembre</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Premio Quetglas 2023</h3>
            <div class="descripcion">
                Es hoy! ¡Es hoy! Estamos emocionados, hoy conoceremos a esa persona que 
                con su labor ha impactado vidas.¡Conéctate y celebra tu también!
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 7:00pm
            </div>
        </div>
    </div>

    <!-- Evento 5 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">13</div>
                <div class="mes">Octubre</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Rifa Solidaria</h3>
            <div class="descripcion">
                Participa por un Smart TV de 32", una cama unipersonal, 
                o un ventilador de pedestal, además de canastas básicas y de productos de aseo.
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 3:30pm
            </div>
        </div>
    </div>

    <!-- Evento 6 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">13</div>
                <div class="mes">Julio</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Bingo Solidario</h3>
            <div class="descripcion">
                ¡¡ES HOY!! Bingo Solidario a beneficio de las Obras Sociales Vicentinas
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 6:30pm
            </div>
        </div>
    </div>

    <!-- Evento 7 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">16</div>
                <div class="mes">Junio</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Venta de Carpa</h3>
            <div class="descripcion">
                Aprovecha desde mañana nuestra venta de Carpa.¡Tendremos muchas ofertas!
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 8:00am
            </div>
        </div>
    </div>

    <!-- Evento 8 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">22</div>
                <div class="mes">Abril</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Torneo Nacional de Golf 2023</h3>
            <div class="descripcion">
                En beneficio del gran proyecto de amor de la Fundación de Obras Sociales Vicentinas
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 8:00am
            </div>
        </div>
    </div>

    <!-- Año 2022 -->
    <h3 class="year">2022</h3>

    <!-- Evento 9 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">1</div>
                <div class="mes">Septiembre</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Bingo Solidario 2022</h3>
            <div class="descripcion">
                Bingo Solidario a beneficio de las Obras Sociales Vicentinas.
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 6:30pm
            </div>
        </div>
    </div>

    <!-- Evento 10 -->
    <div class="evento">
        <div class="evento-izquierda">
            <div class="evento-fecha">
                <div class="fecha">5</div>
                <div class="mes">Agosto</div>
            </div>
        </div>
        <div class="evento-derecha">
            <h3 class="titulo-evento">Rifa Solidaria</h3>
            <div class="descripcion">
                Hoy se conocerán los ganadores de nuestra Rifa Solidaria, pendientes a nuestro facebook.
            </div>
            <div class="tiempo">
                <img src="https://clipart-library.com/images/rinr6RxbT.png" alt="icono reloj" /> 3:30pm
            </div>
        </div>
    </div>
</div>
