<section class="hero-content">
    <h2>¿Quiénes somos?</h2>
    <p>Somos una ONG con una filosofía cimentada en el espíritu de San Vicente de Paúl, creada por la Congregación de la
        Misión o Padres Paules (Iglesia Católica), con el propósito de mejorar las condiciones de vida de los hermanos
        más necesitados, a través de los diferentes programas de asistencia y promoción social, dirigidos a niños y
        jóvenes vulnerados en sus derechos, ancianos, enfermos alcohólicos, enfermos terminales y de VIH/SIDA.</p>
    <p>Constituye el objetivo de la FUNDACIÓN OBRAS SOCIALES VICENTINAS, el desarrollo de obras y de proyectos de
        vivienda; creación y desarrollo de centros para albergar menores con problemas de orden social, familiares y
        otros similares así como a madres solteras y jóvenes con problemas análogos, rehabilitación de personas adictas
        al alcohol y las drogas por medio de granjas, talleres y otros que sean necesarios para tal fin de asistencia
        médica, hospitalización, educación técnica e intelectual, así como culto, caridad, desarrollo humano y
        espiritual que ha emprendido o emprenda la Iglesia Católica de Honduras, en forma particular la Congregación de
        la Misión o Padres Paules.</p>
</section>
<section class="Mision-vision">
    <img src="https://iconosmag.com/wp-content/uploads/2023/06/portada-bingo-osovi-2024-1.jpg" alt="no">
</section>