<main>
    <section class="container">
        <div class="slide-wrapper">
            <div class="slider">
                <img src="Imagenes/OsoviLogo.png" alt="Image 1">
                <img src="Imagenes/Osovi2.2.jpg" alt="Image 2">
                <img src="Imagenes/Atencion1.jpg" alt="Image 3">
                <img src="Imagenes/Atencion5.jpg" alt="Image 4">
                <img src="Imagenes/AtencionPsico.jpg" alt="Image 5">
            </div>
        </div>
    </section>
 <div class="init">
            <h2>Fundacion Osovi</h2>
        <p>Somos una ONG en Honduras cimentada en la mística de San Vicente de Paúl. Nuestra misión es mejorar las condiciones de vida de nuestros hermanos hondureños, brindándoles apoyo y recursos en los momentos más críticos. A través de diversas iniciativas y programas, trabajamos incansablemente para ofrecer asistencia a quienes más lo necesitan, promoviendo el bienestar y la dignidad de cada persona. Nuestro compromiso es ser un faro de esperanza y solidaridad, inspirado por los valores de caridad y servicio que nos guían.</p>
        
        </div>
    

         <section class="hero2">
            <picture>
                <source srcset="https://blogs.einsteinmed.edu/wp-content/uploads/sites/5/2018/03/paper-figures.jpg?w=600" media="(min-width: 1025px)">
                <source srcset="https://blogs.einsteinmed.edu/wp-content/uploads/sites/5/2018/03/paper-figures.jpg?w=600" media="(min-width: 380px)">
                <img src="https://blogs.einsteinmed.edu/wp-content/uploads/sites/5/2018/03/paper-figures.jpg?w=600" alt="Hero">
            </picture>
            <span class="hero-content2">
                <h2>Tu puedes ser la diferencia</h2>
                <br>
            
                <div class="card">
                    <h3>Conoce más maneras de ayudarnos mediante donaciones.</h3>
                    <a href="Donar.html">Donar</a>
                </div>
            </span>
        </section>
        <section class="">
            <h2 class="solo">Nuestros con 11 proyectos de asistencia social</h2>
            <br>
            <ul class="acordeon">
                <li>Casa del niño</li>
                <li>Casa del joven</li>
                <li>Casa de la niña</li>
                <li>Casa Madre Teresa/ Programa de becas</li>
                <li>Centro Juvenil San Vicente de Paul</li>
                <li>Centro de Rehabilitacion "La Esperanza"</li>
                <li>Modulo de Ancianos</li>
                <li>Hospicio San Jose</li>
                <li>Clinica la Merced</li>
                <li>Centro Educativo Vincentino</li>
                <li>Proyecto Ser</li>
            </ul> 
        </section>

        <section class="hero">
            <picture>
                <source srcset="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" media="(min-width: 1025px)">
                <source srcset="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" media="(min-width: 380px)">
                <img src="https://media.istockphoto.com/id/687814058/photo/recovery-sign.jpg?s=612x612&w=0&k=20&c=GSr_hkq2cJWr6z3GVnyXD145OxcA-iULASzJmCnStFE=" alt="Hero">
            </picture>
            <span class="hero-content">
                <h2>Centro de Rehabilitacion Contra el Alcoholismo</h2>
                <h2>Fe y esperanza</h2>
                <p>Explora los programas que tenemos para rehabilitación.</p>
                <a  href="REHAB.html">Ver Más</a>
            </span>
        </section>

        <section class="">
            <h2 class="solo">Puedes Ayudarnos de Diferentes Maneras</h2>
            <div class="card">
                <h3>Siendo voluntario</h3>
                <p> Únete a nuestro equipo y contribuye tu tiempo y habilidades para marcar una diferencia.</p>
                <a href="Voluntariado.html">Únete</a>
            </div>

            <div class="card">
                <h3>Donando</h3>
                <p>Tu generosidad nos ayuda a continuar con nuestra misión y alcanzar más metas.</p>
                <a href="Donar.html">Donar</a>
            </div>
            
            <div class="card">
                <h3>Compartiendo nuestras redes sociales</h3>
                <p>Ayúdanos a llegar a más personas difundiendo nuestra causa a través de tus redes.</p>
                <a href="">Compartir</a>
            </div>
        </section>

    </main>
    
    <footer>
            <p>"No podemos asegurar mejor nuestra felicidad que viviendo y muriendo en el servicio de los pobres."</p>
    </footer>

</body>
</html>
