<div class="contenedor">
            <img src="Imagenes/Atencion5.jpg" alt="no">
            <div class="contenido">
                <h2>Alimentacion Saludable</h2>
                <p>Se les brinda una desayuno o almuerzo para que el beneficiario regrese a la dura realidad con algo fresco o caliente en el estómago.
                </p>
            </div>  
        </div>   
        <center>
            <a href="ProyMacon.html"><button>Regresar</button></a>        
        </center>