<section class="hero">
            <video poster="" controls autoplay muted>
                <source src="Videos/Video MACON .mp4" type="video/mp4">
                <source src="Videos/Video MACON .ogg" type="video/ogg">
                Su navegador no puede reproducir este formato de video.
            </video>
        </section>

        <section class="hero-content">
            <h2>Que es el Proyecto Macon?</h2>
        <p>Somos una iniciativa de la Parroquia Medalla Milagrosa con el apoyo de Obras Sociales Vicentinas OSOVI, 
            surge el 12 de febrero de 2022 como inspiración del carisma vicentino en respuesta a las múltiples 
            necesidades de las personas desfavorecidas en situación de calle y extrema pobreza, niñas y niños, mujer, 
            joven, adulto mayor, alcoholismo, migrantes y deportados.
        </p>
        </section>
        <h3 class="solo">Nuestras Areas de Atencion</h3>
      <section class="card-contenedor">
     
  
    <div class="card">
        <img src="https://www.paho.org/sites/default/files/styles/max_1500x1500/public/2019-10/health-services-1500x844.jpg?itok=QxtTg3-I" alt="medica">
        <p><a href="ProyMaconAAM.html">Areas de Atencion Medica</a></p>
        
    </div>
    <div class="card">
        <img src="https://www.bupasalud.com/sites/default/files/styles/640_x_400/public/articulos/2024-05/fotos/higiene-personal-1.jpg?itok=9BeKT24D" alt="higiene">
        <p><a href="ProyMaconHPR.html">Higiene Personal-Ropero</a></p>
    </div>
    <div class="card">
        <img src="https://www.barbershopvalencia.com/cdn/shop/articles/Barberia_Valencia_68e3ff54-1e86-4250-bc2c-25c757084047.png?v=1647723537" alt="barberia">
        <p><a href="ProyMaconB.html">Barberia</a></p>
    </div>
    <div class="card">
        <img src="https://restaurantecasaantonio.net/wp-content/uploads/2018/08/10-consejos-para-una-alimentaci%C3%B3n-saludable.jpg" alt="">
        <p><a href="ProyMaconAS.html">Alimentacion Saludable</a></p>
    </div>
      </section>

    <section class="hero-content3">
        <h2>Nuestros Valores</h2>
        <div>
            <p>Caridad Ardiente
                <img src="https://media.istockphoto.com/id/1046464996/vector/hands-with-red-heart-vector-illustration.jpg?s=612x612&w=0&k=20&c=DxwMLQ8tzhgQfGEh77SFUVxdffyTxCUG73xNDzuDg9E=" alt="aaa">

            </p>
        </div>
    
        <div>
            <p>Solidaridad Cristiana<img src="https://cdn-icons-png.flaticon.com/512/8598/8598326.png" alt="solidaridad">
            </p>   
        </div>
        <div>
            <p>Compasion Cristiana<img src="https://d1rig8ldkblbsy.cloudfront.net/app/uploads/2019/10/07152647/compassion.jpg" alt="Compasion">
            </p>
        </div>
            
     


    </section>      
        