<div class="contenedor">
            <img src="Imagenes/Atencion3.jpg" alt="">
            <div class="contenido">
                <h2>Higiene Personal-Ropero</h2>
                <p>Disponen de una zona habilitada para el aseo personal con duchas e inodoros, dotada de toallas, jabón, shampoo y vestuario.

                </p>
            </div>  
        </div>   
        <center>
            <a href="ProyMacon.html"><button>Regresar</button></a>   
        </center>