<div class="contenedor">
            <img src="Imagenes/Atencion4.jpg" alt="ff">
            <div class="contenido">
                <h2>Barberia</h2>
                <p>Área para el corte de cabello y embellecer el aspecto.
                </p>
            </div>  
        </div>   
        <center>
            <a href="ProyMacon.html"><button>Regresar</button></a>   
        </center>