<div class="contenedor">
            <img src="Imagenes/Atencion2.jpg" alt="aaa">
            <div class="contenido">
                <h2>Areas de Atencion Medica</h2>
                <p>Consulta medicina general y odontológica periódica a los beneficiarios que lo necesiten.
                </p>
            </div>  
        </div>   
        <center>
            <a href="ProyMacon.html"><button>Regresar</button></a>
        </center>